ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(204, 74, 74);
}

li {
float: left;
}
button{
height: 40px;
}
.search-box{
text-align: center;
margin-left: 200px;
width: 500px;
height: 40px;
border-color: black;
}
.first-ul img{
margin-left: 50px;
width: 70px;
height: 40px;
}
.second-ul img{
margin-left: 50px;
width: 70px;
height: 40px;
padding-top: 10px;
}
.side-bar{
padding-left: 20px;
float: right;
background-color: white;
max-width: 400px;
}

.first-ul{
background-color: white;
} 
.comments{
border: solid black;
padding-left: 15px;
}

.body {
    padding-left: 10%;

}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

#notification-img {
    
    width: 50px;

}

#views {
    font-size: 20;
}