ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  .search-box{
      text-align: center;
      margin-left: 200px;
      width: 500px;
  }
  nav img{
      width: 70px;
      height: 40px;
  }
