
body{
    background-color: rgb(235, 235, 235);
}
.topnav {
    background-color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: fixed;
    z-index: 10;
    padding: 0;
    top: -1px;
} 
.topnav img {
    cursor: pointer;
    float: left;
    height: 25px;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;  
} 
.top-left {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    right: 250px;
    cursor: pointer;
}
#ylogo {
    position: relative;
    left: -240px;
}
.topnav-centered {
    float: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.topnav-centered input {
    width: 550px;
    height: 25px;
    border-color: rgb(235, 235, 235);
    border-style: ridge;
    text-align: center;
}
.topnav-centered button {
    position: relative;
    height: 31px;
    right: 3px; 
}
.topnav-right {
    display: flex;
    position: relative;
    cursor: pointer;
    float: right;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    left: 50px;
}
.topnav-right svg {
    position: relative;
    margin: 20px;
}
aside{
    position: relative;
    top: 15px;
    width: 100%;  
}
main {
    position: relative;
    left: 15px;
    width: 62%;
    top:50px;
}
.avatar-murilo {
    cursor: pointer;
    height: 50px; 
    width: 50px;
}
.subscribe {
    height: 80px !important;
    width: 120px !important;
}

.video-information {
    border-bottom-style: solid;
}





.comment-counts {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    color: #606060;
}

.comment-counts .sortby{
    display: grid;
    grid-template-columns: 10% 30%;
    fill: #606060;
    align-items: center;
    justify-content: start;
}

.comment-counts .sortby svg{
    width: 50%;
    height: 50%;
    position: relative;
    
}


    


.comment-input {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: space-around;
}

.comment-input div {
    width: 90%;
    height: 90%;
}

.comment-input-line {
    width: 70%;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    background-color: inherit;
    position: relative;
   
}


.commenttrouble{
    position: relative;
}
.indiv-comments {
    display: grid;
    grid-template-columns: 8% 92%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 30px;
}

.svgtrouble {
    width: 70%; 
    height: 70%;
    position: relative;
    top: -30px;
}

.like-comments {
    display: grid;
    fill: #606060;
    grid-template-columns: 20px 50px 20px 50px;
    text-align: center;
}



.thisisaveryspecialcontainer {
    display: flex;
    align-items: center;
    position: relative;
    top: -15px;
    
}

.thisisaveryspecialcontainer h4 {
    position: relative;
    left: 15%;
    color: #606060;
}







section {
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

section img{
    height: 94px;
    width: 200px; 
}
section a{
    color: black;
    text-decoration: none;
}
.video-titles{
    font-size: 14px;
    position: relative;
    word-wrap: break-word;
}
.main-section{
    display: inline-block;
    padding-top: 25px;
}
.video-buttons {
    border-bottom-style: solid;
    border-color: rgb(97, 97, 97);
    width: 90%;
    color: rgb(61, 61, 61);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.video-buttons path {
    width: 50px;
    color: gray;
}
.video-buttons2 {
    width: 30%;
    position: relative;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.like-buttons2 {
    position: relative;
    left: 5%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-style: solid;
    border-bottom-color: blue;
}
.video-buttons svg {
    width: 7%; 
    height: 7%;
}
.subscription{
    display: flex;
    align-items: center;
    cursor: pointer;   
}
.subscription svg{
    position: relative;
    width: 15%;
    left: 44%;
}
.subscription img{
    position: relative;
    width: 8%;
    height: auto;
}
.subscription p {
    padding-left: 15px;
    font-size: 27px;
}
section {
    float: right;
}   
footer{
    border-style: solid;
}
iframe {
    height: 500px;  
    width: 90%;  
}
.recommended {
    display: flex;
    align-items: center;
    width: 420px;
    position: relative;
}  
.recommended .thumbnails {
    width: 50%;
}
section img  {  
    width: 85%;
    height: auto;
}
.recommended .video-titles {
    position: absolute;
    left: 45%;
    width: 50%;
    font-size: 15px;
}
.underline {
    position: relative;
    border-top-style: solid;
    border-top-color: rgb(151, 151, 151);
    padding-top: 25px;
    top: 10px;
}
.time-tags {
    position: relative;
    right: 87px;
    top: 35px;
    background-color: black;
    font-size: 17px;
    color: white;
    font-weight: bold;
    width: 50px;
    text-align: center;
}
.show-more {
    font-size: 20px;
    position: relative;
    left: 100px;
    
}