body{
    background-color: rgb(240, 233, 233);
}
.topnav {
    position: relative;
    overflow: hidden;
    border-bottom-style: double;
    background-color: white;
} 
.topnav img {
    height: 25px;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} 
.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.topnav-centered input {
    width: 400px;
}
.topnav-right {
    float: right;
}
section{
    padding-left: 10%;   
}
aside{
    background-color: white;
}
#video-section-1{
    width: 70%;
}
#recommended-videos{
    width: 30%;
}
#recommended-videos img{
    height: 94px;
    width: 168px;
}
#recommended-videos a{
    display: inline-block;
    width: 180px;
}
.video-titles{
    position: relative;
    bottom: 10px;
    word-wrap: break-word;
    font-size: 14px;
}
.main-section{
    padding-top: 25px;
    display: inline-block;

}
.video-bottom {
    display: inline-block;
}
.video-bottom img {
    height: 40px;
}
#like-buttons {
    float: right;
}
#recommended-videos{
    float: right;
}
article{
    padding-left: 0%;
}
footer{
    border-style: solid;
}
iframe {
    width: 90%;
    padding-left: 10px;
    height: 500px;
}
.comment-section{
    width: 90%;
}
.recommended{
    display: flex;
}
.thumbnails img{
    width: 70%;
}